{% load static %}
<html>
    <head>
        <title>선거 시스템 by yeonho1</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <style>
            @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
            * {
                font-family: 'Nanum Gothic';
            }
        </style>
    </head>
    <body>
        <div class="page-header">
            <h1 style="padding: 20px;"><a href="{% url 'votemain' %}">선거 시스템</a></h1>
        </div>

        <div class="jumbotron" style="min-height: 100%;">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>