{% extends 'vote/base.html' %}

{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#add-btn").click(function() {
                $("#options").append('<div id="option"><br><input name="options[][name]">\n<button type="button" class="btn btn-danger" onclick=\'$(this).parent("#option").remove()\'>X</button></div>')
            })
        })
    </script>
    {% if log %}
        <p>안녕하세요, {{user.nickname}}님!</p>
        <a href="{% url 'logout' %}" class="btn btn-warning">로그아웃</a>
    {% else %}
        <p>로그인 해주세요.</p>
        <a href="{% url 'login' %}" class="btn btn-warning">로그인</a>
    {% endif %}
    <h2>투표 주제 만들기</h2>
    <form method="post">
        {% csrf_token %}
        <table class="table table-bordered table-striped table-hover" style="width: 100%;">
            <tr>
                <th class="col-md-2"><center>제목</center></th>
                <td class="col-md-10"><input name="title"  style="width: 100%;"></td>
            </tr>
            <tr>
                <th class="col-md-2"><center>내용</center></th>
                <td class="col-md-10"><textarea name="content" rows="8" ></textarea></td>
            </tr>
        </table>
        <h3>선택지들</h3>
        <br>
        <div id="options">
            <div id="option">
                <input name="options[][name]">
                <button type="button" class="btn btn-primary" id="add-btn">추가</button>
            </div>
        </div>
        <br>
        <input type="submit" class="btn btn-warning" value="투표 만들기">
    </form>
{% endblock %}