{% extends 'vote/base.html' %}

{% block content %}
{% if log %}
<p>안녕하세요, {{user.nickname}}님!</p>
<a href="{% url 'logout' %}" class="btn btn-warning">로그아웃</a>
{% else %}
<p>로그인 해주세요.</p>
<a href="{% url 'login' %}" class="btn btn-warning">로그인</a>
{% endif %}
<h2>진행중인 투표</h2>
<a href="{% url 'createvote' %}" class="btn btn-primary pull-right">투표 주제 만들기</a><br><br>
<table class="table table-bordered table-striped table-hover" style="width: 100%;">
    <tr>
        <th class="col-md-10">투표 제목</th>
        <th class="col-md-2">투표 제작자</th>
    </tr>
    {% if openVotes.all %}
        {% for vote in openVotes %}
            <tr>
                <td class="col-md-10"><a href="{% url 'viewvote' id=vote.id %}">{{vote.title}}</a></td>
                <td class="col-md-2">{{vote.who_opened}}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="2">진행중인 투표가 없습니다.</td>
        </tr>
    {% endif %}
</table>
{% endblock %}