{% extends 'vote/base.html' %}

{% block content %}
{% if log %}
<p>안녕하세요, {{user.nickname}}님!</p>
<a href="{% url 'logout' %}" class="btn btn-warning">로그아웃</a>
{% else %}
<p>로그인 해주세요.</p>
<a href="{% url 'login' %}" class="btn btn-warning">로그인</a>
{% endif %}
<h2>{{topic.title}}</h2>
<br>
{% ifequal topic.contents "" %}
<p>내용이 없습니다.</p>
{% else %}
<p>{{topic.content}}</p>
{% endifequal %}
<h3>선택지들</h3>
<br>
<p><strong>주의</strong>: 한 번 투표하면 바꿀 수 없으니 신중하게 투표하여 주시기 바랍니다.</p>
{% if selections.all %}
    <table class="table table-bordered table-striped table-hover">
        <tr>
            {% for sel in selections %}
                <td><center>{{sel.name}}</center></td>
            {% endfor %}
        </tr>
        <tr>
            {% for sel in selections %}
                {% if topic.is_closed %}
                    <td><center><button class="btn btn-warning" disabled>{{sel.name}}에 투표하기</button></center></td>
                {% else %}
                    <td><center><a href="{% url 'vote' id=sel.id %}" class="btn btn-warning">{{sel.name}}에 투표하기</a></center></td>
                {% endif %}
            {% endfor %}
        </tr>
    </table>
    {% if selected %}
        <p>{{selected.name}}에 투표하셨습니다.</p>
    {% endif %}
{% else %}
    <p>선택지가 없습니다.</p>
{% endif %}
<p>{{voted}}명이 투표했습니다.</p>
<a class="btn btn-info" href="{% url 'votemain' %}">돌아가기</a>
{% ifequal user.id topic.who_opened.id %}
<a class="btn btn-danger" href="{% url 'closevote' id=topic.id %}">투표 마감하기</a>
{% endifequal %}
{% endblock %}