{% extends 'vote/base.html' %}

{% block content %}
{% if log %}
<p>안녕하세요, {{user.nickname}}님!</p>
<a href="{% url 'logout' %}" class="btn btn-warning">로그아웃</a>
{% else %}
<p>로그인 해주세요.</p>
<a href="{% url 'login' %}" class="btn btn-warning">로그인</a>
{% endif %}
<h2>{{topic.title}}</h2>
<br>
{% ifequal topic.contents "" %}
<p>내용이 없습니다.</p>
{% else %}
<p>{{topic.content}}</p>
{% endifequal %}
<h3>선택지들</h3>
<br>
{% if selections.all %}
    {% for sel in selections %}
        <p>{{sel.name}}</p>
    {% endfor %}
{% else %}
    <p>선택지가 없습니다.</p>
{% endif %}
<p>{{voted}}명이 투표했습니다.</p>
<a class="btn btn-info" href="/vote">돌아가기</a>
{% endblock %}